In [19]:
import pandas as pd

# Read a single parquet file
df = pd.read_parquet('data_measurements_1000_20250102_20260118.parquet')
df.head(1)

,time,node_source,node_source_id,latitude,longitude,sensor_source,sensor_source_id,parameter,value,unit,quality_codes
0,2025-12-20 17:03:43.544000+00:00,Node_20,sfi_smart_ocean;demo;d1;1,61.0,5.263733,Battery module PROBE,sfi_smart_ocean;demo;d1;1;BATTERY_MODULE,sea_water_electrical_conductivity,0,degrees_C,[0]

In [23]:
pd.DataFrame(df.columns).T

,0,1,2,3,4,5,6,7,8,9,10
0,time,node_source,node_source_id,latitude,longitude,sensor_source,sensor_source_id,parameter,value,unit,quality_codes

In [24]:


# Read with specific columns
df = pd.read_parquet('data_measurements_1000_20250102_20260118.parquet', columns=['time', 'parameter', 'value'])
df.head(4)

                              time                          parameter  value
0 2025-12-20 17:03:43.544000+00:00  sea_water_electrical_conductivity      0
1 2025-12-20 17:03:43.544000+00:00                 battery_voltage_mv      0
2 2025-12-20 17:03:43.544000+00:00                 battery_voltage_mv      0
3 2025-12-20 17:03:43.544000+00:00  sea_water_electrical_conductivity   5000

In [25]:

# Read with engine specification (pyarrow or fastparquet)
df = pd.read_parquet('data_measurements_1000_20250102_20260118.parquet', engine='pyarrow')
df.head(1)

,time,node_source,node_source_id,latitude,longitude,sensor_source,sensor_source_id,parameter,value,unit,quality_codes
0,2025-12-20 17:03:43.544000+00:00,Node_20,sfi_smart_ocean;demo;d1;1,61.0,5.263733,Battery module PROBE,sfi_smart_ocean;demo;d1;1;BATTERY_MODULE,sea_water_electrical_conductivity,0,degrees_C,[0]